/* declaring custom color variables in root is common practice,
but due to a known bug with linter css validation tool it will
throw false errors, so don't use variables for classwork that
requires css validation through linter. */

/* :root { /* define custom color variables so they can be changed
    easier in the future if needed. Use var(--variable-name). */
/*    --primary-color: #2d3c49; /* dark bluish grey */
/*    --secondary-color: #7d97ad; /* medium bluish grey */
/*    --third-color: #02b3e4; /* medium light blue */
/*    --third-color: #355575; /* medium dark blue */
/* } */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    /* color: var(--primary-color); */
    color: #2d3c49;
    /* color: var(--fourth-color); */
    background-color: #355575;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    margin: 0;
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

div {
    box-sizing: border-box;
}

hr {
    width: 100%;
    border: none;
    height: 3px;
    margin: 0;
    /* background-color: var(--secondary-color); */
    background-color: #7d97ad;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 1px 6px 8px 3px #2d3c49;
}

a {
    text-decoration: none;
    /* color: var(--third-color); */
    color: #02b3e4;
}

#page__wrapper {
    /* this will center the page when width is 960px or greater.
    See code in @media section for width: 960px */
    margin: 0 auto;
    background-color: white;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 2px 10px 30px 5px #2d3c49;
}

header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__logo {
    height: 58px;
    margin: 12px 0 0 14px; /* top right bottom left */
}

.header__text__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end; /* right */
}

.header__name {
    font-weight: 100; /* thinnest font-weight */
    font-size: 3em;
    margin: 0.3em 32px 0 0; /* top right bottom left */
}

.fancy__fx { /* clipped image behind name in header*/
  background-repeat: no-repeat;
  /* starting position of image to show mostly blue then
  move up to show an area with code on mouse hover */
  background-position: -35px 10px center;
  background-image: url(../img/markus-spiske-357131.jpg);
  display:inline-block;
  /* set text as a clipping mask to reveal a hidden image */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* set animation speed for each browser version*/
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  transition:         all 0.2s ease;
}

.fancy__fx:hover {
  /* change background image position to an area with more
  code on hover */
  background-position: -15px center;
  /* change text position on hover for each browser version*/
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.header__title {
    font-weight: 100; /* thinnest font-weight */
    font-size: 1em;
    margin: 0 34px 10px 0; /* top right bottom left */
}

.hero__image__wrapper {
    width: 100%;
    margin: 24px 0 0; /* top left-and-right bottom */
    position: relative;
}

.hero__image {
    width: 100%;
    margin: 0;
}

.site__description { /* this text is positioned over the hero image at the top left */
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: 100; /* thinnest font-weight */
    font-size: 2.5em;
    color: white;
    /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
    text-shadow: 1px 4px 8px #2d3c49;
}

.section__title {
    font-weight: 100; /* thinnest font-weight */
    font-size: 2em;
    margin: 0 0 12px; /* top left-and-right bottom */

    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    padding-top: 12px;
    /* color: var(--secondary-color); */
    color: #7d97ad;
}

section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-stretch;
    justify-content: space-evenly;
    box-sizing: border-box;
}

article {
    flex: 1;
    width: 100%;
    min-width: 240px;
    text-align: center;
    font-weight: 100; /* thinnest font-weight */
    font-size: 0.9em;
    margin: 0 auto; /* center */
    margin: 0 15px 10px; /* top left-and-right bottom */
    box-sizing: border-box;
}

.article__title {
    text-align: center;
    font-weight: 100; /* thinnest font-weight */
    font-size: 2em;
}

.article__image {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    padding: 16px;
    text-align: center;
    /* background-color: var(--primary-color); */
    background-color: #2d3c49;
    /* color: var(--secondary-color); */
    color: #02b3e4;
    box-sizing: border-box;
}

footer h4 {
    /* color: var(--secondary-color); */
    color: #02b3e4;
}

/* font awesome icons */
i.fa {
    font-size: 40px;
    padding: 5px 5px 0; /* top right-and-left bottom */
}

@media screen and (min-width: 960px) {
    #page__wrapper {
        /* stop the main content from growing wider than 960px.
        This will instead add margin space to the left and
        right above 960px */
        width: 960px;
    }

    .header__name {
        font-size: 6em;
        margin: 0.2em 32px 0 0; /* top right bottom left */
    }

    .header__title {
        font-size: 2em;
        margin-right: 32px;
    }

    .header__logo {
        height: 105px;
        margin: 22px 0 0 18px; /* top right bottom left */
    }

    hr {
        height: 5px;
    }
    
    .site__description {
        top: 24px;
        left: 24px;
        font-size: 3em;
    }

    .section__title {
        font-weight: 100; /* thinnest font-weight */
        font-size: 2.4em;
        margin: 0 0 14px 0; /* top right bottom left */
        /* color: var(--secondary-color); */
        color: #7d97ad;
    }

    article {
        max-width: 250px;
    }

    footer {
        font-size: 16px;
    }

    /* font awesome icons */
    i.fa {
        font-size: 50px;
        padding: 8px 8px 0; /* top right-and-left bottom */
    }

} /* end of @media screen and (min-width: 960px) */

@media screen and (min-width: 840px) and (max-width: 959px) {
    .header__name {
        font-size: 5em;
        margin: 0.2em 32px 0 0; /* top right bottom left */
    }

    .header__title {
        font-size: 1.65em;
        margin-right: 36px;
    }

    .header__logo {
        height: 94px;
        margin: 16px 0 0 20px; /* top right bottom left */
    }

    hr {
        height: 5px;
    }
    
    .site__description {
        top: 20px;
        left: 18px;
        font-size: 2.8em;
    }

    .section__title {
        font-weight: 100; /* thinnest font-weight */
        font-size: 2.4em;
        margin: 0 0 14px 0; /* top right bottom left */
        /* color: var(--secondary-color); */
        color: #7d97ad;
    }

    article {
        max-width: 250px;
    }

} /* end of @media screen and (min-width: 840px) and (max-width: 959px) */

@media screen and (min-width: 760px) and (max-width: 839px) {
    .header__name {
        font-size: 4em;
        margin: 0.25em 32px 0 0; /* top right bottom left */
    }

    .header__title {
        font-size: 1.3em;
        margin-right: 36px;
    }

    .header__logo {
        height: 77px;
        margin: 12px 0 0 14px; /* top right bottom left */
    }
    
    .site__description {
        top: 18px;
        left: 16px;
        font-size: 2.7em;
    }

    .section__title {
        font-size: 2em;
        margin: 0 0 14px 0; /* top right bottom left */
    }

    hr {
        height: 4px;
    }

} /* end of @media screen and (min-width: 760px) and (max-width: 839px) */
